/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Font Family */
@font-face {
  font-family: ChelseaMarket;
  src: url(fonts/ChelseaMarket-Regular.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(fonts/RobotoMono-Italic-VariableFont_wght.ttf);
  src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}


/* Custom */
html {
  font-size: 62.5%;
  font-family: 'RobotoMono', serif;
}

b {
  font-weight: bold;
}

.container {
  font-size: 1.6rem;
  height: 100%;
  width: 80rem;
  margin: auto;
}

.menu {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.menu .button {
  margin: 2.4rem 4.8rem;
  width: 12rem;
  height: 4.8rem;
  color: white;
  font-size: 1.6rem;
  border-radius: 1.6rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.menu .button p {
  text-align: center;
  vertical-align: center;
  margin: auto;
}

.plan {
  color: black;
  background-color: #FF764E;
}

.plan:hover {
  color: #FF764E;
  background-color: white;
  border-style: solid;
  border-width: 0.2rem;
  cursor: pointer;
}

.learn {
  background-color: #5ED3EB;
}

.learn:hover {
  color: #5ED3EB;
  background-color: white;
  border-style: solid;
  border-width: 0.2rem;
  cursor: pointer;
}

.engage {
  background-color: #FFCD69;
}

.engage:hover {
  color: #FFCD69;
  background-color: white;
  border-style: solid;
  border-width: 0.2rem;
  cursor: pointer;
}


.intro-container {
  width: 100%;
  /* border: 1px solid; */
  display: flex;
}

.intro-image-container {
  margin-left: 4rem;
}

.intro-image-container img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;

}

.intro-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.intro-text-container h1 {
  font-family: 'ChelseaMarket', serif;
  font-size: 4rem;
  padding: 2rem;
}

.intro-text-container p {
  width: 35rem;
  padding: 1rem;
  margin: auto;
}

.about-container {
  color: white;
  background-color: #DDB9A3;
  margin: 2rem;
}

.about-container p {
  text-align: center;
  padding: 1rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  text-align: center;
}

.card img {
  width: 16rem;
  
}

.card p {
  font-size: 1rem;
  text-align: center;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

.banner {
  margin: auto;
  text-align: center;
}


.banner img {
  width: 100%;
  height: 15rem;;
  
}


.footer {
  background-color: #F9E7DC;
}